@mixin responsive-font($font1, $font2, $font3, $font4) {
    font-size: $font4;
    @media (max-width: 900px) {
      font-size: $font3;
    }
  
    @media (max-width: 700px) {
      font-size: $font2;
    }
    @media (max-width: 400px) {
      font-size: $font1;
    }
  }