@import '../varilabel_scss/varilabel';


body{
    background-image: linear-gradient(125deg,  rgb(0, 0, 0),rgb(0, 0, 0));
}
.main{
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(125deg,  rgb(0, 0, 0),rgb(0, 0, 0));
    .main__navbar{
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        margin: 10px auto;
        border-radius: 10px 0px 10px 0px;
        background-color: transparent;
        background-image: linear-gradient(125deg,  rgb(205,217,226),rgb(53, 52, 52));
        transition: all .1s linear;
        @media screen and (max-width:1440px) {
            height: 50px;
        }
        .main__navbar--item{
            height: 100%;
            &:nth-child(1){
                position: relative;
                width: 25%;
                transition: all .2s linear;
                @media screen and (max-width:900px) {
                    width: 70%;
                }
            }
            .item__logo{
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 70%;
                    height: 80%;
                    border-radius: 0px 10px 0px 10px;
                    object-fit: cover;
                    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3),
                    0 10px 10px rgba(0, 0, 0, 0.3);
                    transition: all .1s ease-in;
                    cursor: pointer;
                    &:hover{
                        transform: translateY(-2px);
                        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5),
                        0 10px 10px rgba(0, 0, 0, 0.5);
                        width: 73%;
                        height: 83%;
                    }
                }
            }
            &:nth-child(2){
                position: relative;
                width: 70%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                .item__pc{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    height: 100%;   
                    min-height: 100%;
                    transition: all .2s linear;
                    @media screen and (max-width:900px) {
                        margin-top: -40px;
                    }
                    .item__pc--link{
                        width: 15%;
                        height: 100%;
                        &:nth-child(6){
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 25%;
                            img{
                                display: block;
                                width: 70px;
                                height: 70px;
                                object-fit: cover;
                                border-radius: 100%;
                                @media screen and (max-width:1440px) {
                                    height: 50px;
                                    width: 50px;
                                }
                                cursor: pointer;
                            }
                            p{
                                cursor: pointer;
                                width: 50%;
                                @include responsive-font(10px,12px,14px,16px);
                            }
                            
                            @media screen and (max-width:900px) {
                                visibility: hidden;
                            }
                        }
                        a{
                            font-size: 16px;
                            text-decoration: none;
                            color: black;
                            transition: all .1s ease-in;
                            text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include responsive-font(10px,12px,14px,16px);
                            cursor: pointer;
                            &:active{
                                margin-top: 4px;
                            }
                        }
                    }
                }
                .item__phone{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media screen and (min-width:900px) {
                        visibility: hidden;
                    }
                    .item__phone--togle{
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        span{
                            position: absolute;
                            width: 100%;
                            height: 4px;
                            background-color: black;
                            transition: all .1s ease-in;
                            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3),
                            0 10px 10px rgba(0, 0, 0, 0.3);
                        }
                        span:nth-child(1){
                            top: 7px;
                        }
                        span:nth-child(2){
                            top:50%;
                            transform: translateY(-50%);
                        }
                        span:nth-child(3){
                            top: 30px;
                        }
                    }
                    
                    .midle span:nth-child(1){
                        top:50%;
                        transform: translateY(-50%);
                    }
                    .midle span:nth-child(3){
                        top:50%;
                        transform: translateY(-50%);
                    }
                    .unmidle span:nth-child(1){
                        top:7px;
                        transform: none;
                    }
                    .unmidle span:nth-child(1){
                        transform: none;
                        bottom: 30px;
                    }
                }
            }
        }
        .item__togle{
            position: absolute;
            height: auto;
            top: 50px;
            right: 0px;
            z-index: 1000000;
            background-color:rgba(22, 26, 32, 0.9) ;
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3),
                            0 10px 10px rgba(0, 0, 0, 0.3);
            width: 0px;
            overflow: hidden;
            transition: all .2s ease-in;
            min-height: 300px;
            height: 40vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 20px;
            @media screen and (min-width:900px) {
                display: none;
            }
            .item__togle--link{
                height: 15%;
                width: 100%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    height: 100%;
                    color: white;
                    @include responsive-font(12px,14px,16px,18px);
                    text-decoration: none;
                    transition: all .2s ease-in;
                    width: 100%;
                    height: 100%;
                    display: block;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.7);
                        transform: translateY(-5px);
                        @include responsive-font(14px,16px,18px,20px);
                    }
                }
                &:hover{
                    outline: 2px dotted white;
                }
            }
        }
        .link__togle{
            width: 50%;
        }
    }
    .main__body{
        width: 100%;
        z-index: 1;
        min-height: 80vh;
    }
    .main__footer{
        position: relative;
        width: 100%;
        margin-bottom: 0px;
        min-height: 200px;
        background-color:rgba(0, 0, 0, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 100px;
        .main__footer--item{
            width: 100%;
            text-align: center;
            position: relative;
            p{
                @include responsive-font(12px,14px,14px,14px);
                color: white;
            }
            span{
                position: absolute;
                width: 70%;
                height: 3px;
                background-color: rgb(255, 255, 255);
                display: block;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    .display__none{
        opacity: 0;
    }
}


.opacity_none{
    opacity: 0;
}

.opacity_notnone{
    opacity: 1;
}


@keyframes anim__rote {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(225deg);
    }
}
@keyframes cancel_anim__rote {
    0% {
      transform: rotate(225deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes anim__rote_ {
    0% {
      transform: rotate(0deg);
    }
    100% {
        transform: rotate(-225deg);
    }
}
@keyframes cancel_anim__rote_ {
    0% {
      transform: rotate(-225deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes anim_3d_link{
    0% {
      transform: rotate3d(1, 1, 1, 0deg);
    }
    50% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
    100% {
        text-shadow: 3px 3px 4px rgba(0, 0, 0, .7);
        transform: translateY(-5px);
        // font-size: $_font_size_3;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.3),
                            0 10px 10px rgba(0, 0, 0, 0.3);
    }
}

.animation__togle{
    animation: anim__rote 0.2s ease-out forwards;
}
.cancel_animation__togle{
    animation: cancel_anim__rote 0.2s ease-out forwards;
}
.cancel_animation__togle_{
    animation: cancel_anim__rote_ 0.2s ease-out forwards;
}
.animation__togle_{
    animation: anim__rote_ 0.2s ease-out forwards;
}

.animation__3d--link{
    animation: anim_3d_link 0.4s ease-out forwards;
}
@keyframes waveEffect {
    0% {
      transform: translateY(0) scale(1);
    }
    50% {
      transform: translateY(-20px) scale(1.02);
    }
    100% {
      transform: translateY(0) scale(1);
    }
}


