@import '../varilabel_scss/varilabel';

.cart__main{
    position: relative;
    width: 100%;
    height: auto;
    .cart__main--item{
        position: relative;
        width: 100%;
        height: auto;
        .item__header{
            position: relative;
            width: 100%;
            height: 40vw;
            display: flex;
            align-items: center;
            justify-content: start;
            .item__header--title{
                width: 50%;
                height: auto;
                display:flex;
                align-items: center;
                justify-content: center;
                h1{
                    width: 70%;
                    @include responsive-font(16px,18px,20px,22px); 
                    color: white;
                }
            }
            .item__header--background{
                position: absolute;
                width: 70%;
                height: 100%;
                right: 0px;
                top: 0px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &:nth-child(2){
            margin-top: 50px;
            .item__product{
                width: 100%;
                height: auto;
                .item__product--table{
                    position: relative;
                    width: 99%;
                    max-height: 500px;
                    overflow-y: scroll;
                    min-height: 200px;
                    margin: 0 auto;
                    .table__header{
                        width: 100%;
                        position: sticky;
                        top: 1px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 70px;
                        z-index: 2;
                        background-image: linear-gradient(125deg,  rgb(205,217,226),rgb(53, 52, 52));
                        .table__header--item{
                            box-sizing: border-box;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            p{
                                @include responsive-font(12px,14px,16px,18px); 
                                color: rgb(0, 0, 0);
                                text-align: center;
                            }
                            &:nth-child(1){
                                width: 40%;
                            }
                            &:nth-child(2){
                                width: 25%;
                                min-width: 70px;
                            }
                            &:nth-child(3){
                                width: 10%;
                                min-width: 30px;
                            }
                            &:nth-child(4){
                                width: 25%;
                            }
                        }
                    }
                    .table__main{
                        width: 100%;
                        position: relative;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 40px;
                        .table__main--item{
                            width: 25%;
                            text-align: center;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            position: relative;
                            height: 100%;
                            p{
                                @include responsive-font(10px,12px,14px,16px); 
                                color: white;
                                text-align: center;
                            }
                            input{
                                width: 50%;
                                height: 25px;
                                @include responsive-font(10px,12px,14px,16px); 
                                background-color: rgb(205,217,226);
                                border-radius: 5px 5px 5px 5px;
                                min-width: 30px;
                                cursor: pointer;
                            }
                            select{
                                width: 50%;
                                height: 35px;
                                @include responsive-font(10px,10px,12px,14px); 
                                border-radius: 5px 5px 5px 5px;
                                min-width: 60px;
                                background-color: rgb(205,217,226);
                                cursor: pointer;
                            }
                            &:nth-child(1){
                                width: 30%;
                                height: 100%;
                                p{
                                    height: 10%;
                                }
                                img{
                                    width: auto;
                                    height: 85%;
                                    object-fit: cover;
                                    border-radius: 10px 0px 10px 0px;
                                }
                            }
                            &:nth-child(2){
                                width: 25%;
                                min-width: 70px;
                            }
                            &:nth-child(3){
                                width: 10%;
                                min-width: 30px;
                            }
                            &:nth-child(4){
                                position: relative;
                                width: 25%;
                                p:nth-child(1){
                                    padding: 10px 0px;
                                }   
                                p:nth-child(2){
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: rgb(205,217,226);
                                    height: 25px;
                                    width: 90%;
                                    max-width: 100px;
                                    border-radius: 5px;
                                    color: rgb(0, 0, 0);
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
        &:nth-child(4){
            position: relative;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0 auto;
            margin-top: 50px;
            flex-wrap: wrap;
            .item__address{
                position: relative;
                width: 30%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                min-width: 200px;
                max-width: 200px;
                select{
                    background-color: rgb(205,217,226);
                    width: 90%;
                    border-radius: 10px;
                    padding: 10px 0px;
                    text-align: center;
                    @include responsive-font(12px,12px,14px,16px); 
                }
            }
            .item__paymentmethod{
                width: 30%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                min-width: 200px;
                max-width: 200px;
                select{
                    border-radius: 10px;
                    text-align: center;
                    background-color: rgb(205,217,226);
                    width: 90%;
                    padding: 10px 0px;
                    @include responsive-font(12px,12px,14px,16px); 
                }
            }
            .item__phone{
                max-width: 200px;
                min-width: 200px;
                width: 30%;
                margin: 0 auto;
                display: flex;
                input{
                    width: 100%;
                    height: 30px;
                    border-radius: 10px;
                    text-align: center;
                    @include responsive-font(12px,12px,14px,16px); 
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        &:nth-child(3){
            margin: 30px auto;
            width: 90%;
            .item__decription{
                width: 100%;
                height:auto;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                .item__decription--item{
                    p{
                        padding: 20px 0px;
                        @include responsive-font(12px,12px,14px,16px);
                        color: white; 
                    }
                }
            }
        }
        &:nth-child(5){
            margin: 0 auto;
            margin-top: 30px;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: end;
            .item__apply{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
            }
        }

    }

    
    
}
.notification{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -10;
    .notification__box{
        width: 0px;
        height: 200px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: rgb(254, 255, 255);
        border-top: 10px solid rgb(69, 228, 69);
        border-bottom: 5px solid rgb(69, 228, 69);
        box-sizing: border-box;
        .notification__box--tick{
            position: absolute;
            width: 40px;
            height: 40px;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(69, 228, 69);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            outline: 3px solid green;
            visibility: hidden;
            overflow: hidden;
            img{
                width: 50%;
                height: 50%;
                object-fit: cover;
                &:nth-child(2){
                    display: none;
                }
            }
        }
        .notification__box--title{
            position: relative;
            width: 100%;
            margin-top: 20px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            overflow: hidden;
            p{
                @include responsive-font(18px,18px,18px,20px); 
                font-weight: bold;
                color: green;
            }
        }
        .notification__box--content{
            height: 50px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            width: 100%;
            p{
                text-align: center;
                @include responsive-font(14px,14px,14px,16px); 
                
            }
            
        }
        .notification__box--out{
            height: 70px;
            position: relative;
            visibility: hidden;
            .out__item{
                position: absolute;
                text-align: center;
                right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 40px;
                bottom: 10px;
                p{
                    width: 90%;
                    height: 90%;
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: green;
                    @include responsive-font(14px,14px,14px,16px);
                    display: flex;
                    align-items: center;
                    justify-content: center; 
                    &:active{
                        width: 88%;
                        height: 88%;
                        background-color: rgb(3, 88, 3);
                        transform: translateY(1px);
                    }
                }
            }
        }
        .notification__box--tickactive{
            visibility: visible;
        }
        .notification__box--titleactive{
            visibility: visible;
        }
        .notification__box--contentactive{
            visibility: visible;
        }
        .notification__box--outactive{
            visibility: visible;
        }
    }
    .notification__boxactive{
        width: 200px;
    }
}
.notification__active{
    z-index: 10;
}
.notification__errmode{
    .notification__box{
        border-top: 10px solid rgb(221, 93, 93);
        border-bottom: 5px solid rgb(221, 93, 93);
        .notification__box--tick{
            background-color: rgb(221, 93, 93);
            outline: 3px solid rgb(136, 4, 4);
            img{
                &:nth-child(1){
                    display: none;
                }
                &:nth-child(2){
                    display: block;
                }
            }
        }
        .notification__box--title{
            p{
                color: rgb(136, 4, 4);
            }
        }
        .notification__box--out{
            .out__item{
                p{
                    color: white;
                    background-color:rgb(136, 4, 4) ;
                    &:active{
                        background-color:rgb(77, 1, 1) ;
                    }
                }
            }
        }
    }
}

.loading{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .loading__spiner{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        position: relative;
        animation: loading 1s linear infinite; 
        .loading__spiner--item{
            position: absolute;
            width: 100%;
            height: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
                width: 10px;
                height: 10px;
                background-color: rgb(255, 255, 255);
                border-radius: 100%;
            }
            &:nth-child(1){
                transform: translate(-50%,-50%) rotate(45deg);
            }
            &:nth-child(2){
                transform: translate(-50%,-50%) rotate(90deg);
                
            }
            &:nth-child(3){
                transform: translate(-50%,-50%) rotate(135deg);
            }
            &:nth-child(4){
                transform: translate(-50%,-50%) rotate(180deg);
            }
        }
    }
    .loading__content{
        height: 50px;
        p{
            @include responsive-font(14px,16px,18px,20px);
            color: white;
        }
    }
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
}